<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hinatazaka Blog Scrapper</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="detail">
      <h1 class="detail-title">Hinatazaka Blog Scrapper</h1>
      <form>
        <input type="text" name="link" placeholder="Paste Hinata Blog Link" />
        <a href="links.html"><button class="HinaBtn goBtn">Go</button></a>
      </form>
    </div>
  </body>
</html>
