<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sakamichi Blog Scrapper</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="home">
      <h1 class="home-title">Sakamichi Blog Scrapper</h1>
      <h3 class="home-mini-title">Select Your Group</h3>
      <div class="home-btn-container">
        <a href="/Nogizaka"
          ><button class="home-btn NogiBtn">Nogizaka46</button></a
        >
        <a href="/Sakurazaka"
          ><button class="home-btn SakuBtn">Sakurazaka46</button></a
        >
        <a href="/Hinatazaka"
          ><button class="home-btn HinaBtn">Hinatazaka46</button></a
        >
      </div>
    </div>
  </body>
</html>
