<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Download</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="photoLink-container">
      <div class="photoLink">
        {% for b in blog %}
        <div class="photoLink--photo">
          <a href="{{ b }}"><img src="{{ b }}" /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
